#block-masquerade-masquerade {
    background-color: #235622 !important;
    bottom: 0 !important;
    box-shadow: 0 0 !important;
    font-size: 10px !important;
    left: 0 !important;
    margin: 0 !important;
    max-width: 300px !important;
    padding: 0 0 20px !important;
    position: fixed !important;
    width: auto !important;
}
#block-masquerade-masquerade .form-item .description, #block-masquerade-masquerade h2 {
    font-size: 0 !important;
}
#block-masquerade-masquerade .form-item .description #quick_switch_links a {
    color: white !important;
    font-size: 10px !important;
}
#block-masquerade-masquerade .form-item .description #quick_switch_links a:hover {
    background-color: #3a8739 !important;
}
#block-masquerade-masquerade ul {
    margin: 0 !important;
    padding: 0 !important;
}
#block-masquerade-masquerade ul li {
    margin: 3px !important;
}
#block-masquerade-masquerade * {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    line-height: 1 !important;
}
#block-masquerade-masquerade .contextual-links-wrapper{
    display: none !important;
}
#block-masquerade-masquerade #edit-submit{
    background-color: yellow !important;
    color: #000 !important;
    padding: 3px !important;
    border: none !important;
    width: 10px  !important;
}
#block-masquerade-masquerade #edit-masquerade-user-field-autocomplete, #block-masquerade-masquerade #edit-masquerade-user-field{
    color: black !important;
}
