// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

// .contextual-links-region {
//   .contextual-links-wrapper {
//     &:hover {
//       a.contextual-links-trigger {
//         display: block;
//       }
//     }

//     ul.contextual-links {
//       display: none;

//       li {
//         a {}
//       }
//     }
//   }
// }

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  font-family: $sans-serif-small;

  // Set from _custom.scss font variables
  font-size: 87.5%;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {
  font-family: $baloo;
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-family: $baloo;
  font-size: 25px;
  font-weight: normal;
  color: #000;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

b,
strong {}

i,
em {}

dfn {}

sup {}

sub {}

del {}

ins {}

blockquote {}

cite {}

q {}

address {}

ul {}

ol {}

li {}

dl {}

dd {}

dt {}

abbr {}

acronym {}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */

#page-wrapper {}

#page {
  &.container {}
}

/*
 * Wraps all header elements - branding and .region-header
 */

#header {}

/*
 * Wraps the sidebars the content column
 */

#columns {}

/*
 * Main content column wrapper
 */

#content-column {
  .content-inner {
    background: rgba(237, 237, 237, 0.9);
    box-shadow: 2px 2px 2px;
    padding: 20px 0;
    z-index: 99;
    position: relative;
  }
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */

#main-content {}

/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */

#content {}

/*
 * Footer wrapper
 */

#footer {}

/*
 * Panels may need additional margin wrangling when in the $content region
 */

#content .panel-display {}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps the leaderboard
 */

#leaderboard-wrapper {
  .container {}
}

/*
 * Wraps the header
 */

#header-wrapper {
  /* Debug styles, is this working */
  //background: $debug;
  .container {}

  background-color: #C54832 !important;
  color: white;
  opacity: 0.88;
  text-align: center;
  padding-bottom: 20px;

  a {
    color: white !important;
    font-size: 40px;
    text-decoration: none;
  }
}

/*
 * Wraps the nav elements
 */

#nav-wrapper {
  background-color: white;
  box-shadow: 0 0 5px black;
  z-index: 99;
  position: relative;

  .container {}

  a {
    color: black;
    font-size: 20px;
    font-family: $baloo;
  }
}

/*
 * Wraps breadcrumb
 */

#breadcrumb-wrapper {
  .container {}
}

/*
 * Wraps messages and help
 */

#messages-help-wrapper {
  .container {}
}

/*
 * Wraps the secondary content/preface region
 */

#secondary-content-wrapper {
  .container {}
}

/*
 * Wraps the main content column
 */

#content-wrapper {
  .container {}
}

/*
 * Wraps the tertiary content/postfix region
 */

#tertiary-content-wrapper {
  .container {}
}

/*
 * Footer wrapper
 */

#footer-wrapper {
  /* Debug styles, is this working? */
  background: $debug;

  .container {}
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */

#branding {}

/*
 * Logo
 */

#logo {
  padding: 10px 0;

  img {
    vertical-align: bottom;
  }
}

/*
 * Wrapper for the site name and slogan
 */

#name-and-slogan {}

/*
 * Site name (h1)
 */

a {
  color: #2f043c;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#site-name {
  margin: 0;
}

/*
 * Site slogan (h2)
 */

#site-slogan {
  margin: 0;
  font-size: 30px;
  color: white;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */

#main-content-header {}

/*
 * The main page title (h1)
 */

#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */

.feed-icon {}

/*
 * Aggregator feed source
 */

#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */

.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */

ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

/*
 * Search results are an ordered list so reset the margin
 */

.search-results {
  margin: 0;
  padding: 0;
}

/*
 * Attribution message and link
 */

.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */

.region {}

/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */

.region-inner {}

/*
 * Regions can be nested, such as when using Panels
 */

.region-inner .region-inner {}

/*
 * Header region, embedded in the #header
 */

.region-header {}

/*
 * Generally used to output Drupals help block, if the help module is enabled
 */

.region-help {}

/*
 * Secondary content
 */

.region-secondary-content {}

/*
 * Sits above the main content header, like a content-top region
 */

.region-highlighted {}

/*
 * Sits below the main content, like a content-bottom region
 */

.region-content-aside {}

/*
 * Sidebars - targets both
 */

.sidebar {}

/*
 * First sidebar
 */

.region-sidebar-first {}

/*
 * Second sidebar
 */

.region-sidebar-second {
  .block {
    background-color: #fff;
    font-family: $open;
    font-size: 15px;
  }
}

/*
 * Tertiary content
 */

.region-tertiary-content {}

/*
 * Footer region
 */

.region-footer {}

/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;

  &:link, &:visited {}

  &:active, &.active {}

  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

.nav {
  clear: both;
  margin: 10px 0;

  ul, ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;

    &:visited {}

    &:hover, &:focus {}
  }

  .block {
    margin-bottom: 0;
  }
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;

    &:link, &:visited {}
  }

  li {
    &:hover, &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus, &:hover, &:active {
      outline: 0;
    }
  }
}

/*
 * Superfish blocks
 */

.block-superfish {
  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      ul {
        ul {}
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/*
 * Vertical style
 */

.sf-vertical {
  width: 100%;

  li {
    width: 100%;

    &.last {}

    &:hover ul, &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}

/*
 * Navbar style
 */

.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */

.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */

// .at-mt is a page class
.at-mt {
  .at-menu-toggle, .at-menu-toggle ul, .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    padding: 0 10px;
    white-space: nowrap;
  }
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed, &.expanded, &.leaf {}

    a {
      &:link, &:visited {}

      &:active, &.active {}

      &:hover, &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}

/* If li.content exists it's a problem, so reset the padding */

.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {
  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {
    &:link, &:visited {}

    &:active, &.active {}

    &:hover, &:focus {}
  }
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}

.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */

ul.pager li {
  a {
    &:link, &:visited {}

    &:active, &.active {}

    &:hover, &:focus {}
  }

  &.pager-item {}

  &.first {}

  &.last {}

  &.pager-current {}

  &.pager-first {}

  &.pager-previous {}

  &.pager-next {}

  &.pager-last {}
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link, &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}

ul.primary {
  border-bottom-color: $border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover, &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a, a:hover, a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}

ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover, &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}

/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */

.field {}

/*
 * Above and inline classes are on the field wrapper
 */

.field-label-above {}

/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */

.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */

.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */

.field-type-image {
  .caption {}

  .full-caption {}

  .teaser-caption {}
}

/*
 * Taxonomy
 */

.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

/*
 * Text
 */

.field-type-text {}

/*
 * Long text
 */

.field-type-text-long {}

/*
 * Text with summary
 */

.field-type-text-with-summary {}

/*
 * File
 */

.field-type-file {}

/*
 * Number/Integer
 */

.field-type-number-integer {}

/*
 * Decimal
 */

.field-type-number-decimal {}

/*
 * Number float
 */

.field-type-number-float {}

/*
 * List
 */

.field-type-list-text {}

/*
 * List boolean
 */

.field-type-list-boolean {}

/*
 * List integer
 */

.field-type-list-integer {}

/*
 * List float
 */

.field-type-list-float {}

/*
 * Field types (Contrib)
 */

.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}

/*
 * Named fields
 */

.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}

/*
 * Underscores in field name are replaced with dashes
 */

.field-name-field-FIELDNAME {}

/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */

.ia-n .field-type-image,
.iat-n .field-type-image {}

/*
 * Float left setting
 */

.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */

.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */

.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */

.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */

.block-inner {}

/*
 * The first block in the region
 */

.block.first {}

/*
 * The last block in the region
 */

.block.last {}

/*
 * Zebra striping for each block in the region
 */

.block.odd {}

/*
 * Zebra striping for each block in the region
 */

.block.even {}

/*
 * Block title
 */

.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */

.block-content {}

/*
 * Match item list and block menu margin and padding
 */

.block-content {
  ul, ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

/*
 * Block for the latest news items in the first category
 */

#block-aggregator-category-1 {}

/*
 * Block for the latest news items in the first feed
 */

#block-aggregator-feed-1 {}

/*
 * First block created with "Add block" link
 */

#block-block-1 {}

/*
 * "Recent blog posts" block
 */

#block-blog-recent {}

/*
 * "Book navigation" block for the current book's table of contents
 */

#block-book-navigation {}

/*
 * "Recent comments" block
 */

#block-comment-recent {}

/*
 * "Active forum topics" block
 */

#block-forum-active {}

/*
 * "New forum topics" block
 */

#block-forum-new {}

/*
 * Language switcher block
 */

#block-locale-language {}

/*
 * Custom menu block
 */

#block-menu-menu-NAME {}

/*
 * "Recent content" block
 */

#block-node-recent {}

/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */

#block-node-syndicate {}

/*
 * "Most recent poll" block
 */

#block-poll-recent {}

/*
 * "Author information" block for the profile of the page's author
 */

#block-profile-author-information {}

/*
 * "Search form" block
 */

#block-search-form {}

/*
 * "Shortcuts" block
 */

#block-shortcut-shortcuts {}

/*
 * "Popular content" block
 */

#block-statistics-popular {}

/*
 * "Main menu" block
 */

#block-system-main-menu {}

/*
 * "Management" block for Drupal management menu
 */

#block-system-management {}

/*
 * "Navigation" block for Drupal navigation menu
 */

#block-system-navigation {}

/*
 * "User menu" block for Drupal user menu
 */

#block-system-user-menu {}

/*
 * "System help" block
 */

#block-system-help {}

/*
 * "Main page content" block
 */

#block-system-main {
  font-size: 130%;
}

/*
 * "Powered by Drupal" block
 */

#block-system-powered-by {}

/*
 * "User login form" block
 */

#block-user-login {}

/*
 * "Who's new" block for a list of the newest users
 */

#block-user-new {}

/*
 * "Who's online" block for a list of the online users
 */

#block-user-online {}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  &.node-promoted {}

  &.node-sticky {}

  &.node-by-viewer {}

  &.node-teaser {}

  &.node-full {}

  &.odd {}

  &.even {}

  .node-title {
    margin: 0;
  }

  .user-picture {}

  .submitted {
    .username {}

    time {}
  }

  .node-content {}

  ul.links {
    li {}

    li a {}

    li.node-read-more a {}

    li.comment-add a {}

    li.comment-comments a {}

    li.comment-new-comments a {}

    li.blog-sernames-blog a {}

    li.print-html a {}

    li.print-email a {}

    li.print-pdf a {}
  }
}

.preview .node {}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */

#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}

/*
 * Wrapper for a single comment
 */

.comment {
  margin-bottom: 20px;

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {
    p {}

    .username {}

    time {}
  }

  .user-signature {}

  ul.links {}
}

/*
 * Comment title
 */

.comment-title {
  margin: 0;
}

/*
 * Comment states
 */

.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}

/*
 * Preview of the comment before submitting new or updated comment
 */

.comment-preview {}

/*
 * "New" marker for comments that are new for the current user
 */

.new {
  color: $highlight;
}

/*
 * Nested comments are indented
 */

.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */

.form-item {
  input.error, textarea.error, select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {}

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes,
  &.form-radios {}
}

/*
 * Highlight marks and form required mark
 */

.marker,
.form-required {
  color: $highlight;
}

/*
 * The submit button
 */

.form-submit {}

.container-inline {
  div, label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */

fieldset {
  border: 1px solid $border;
}

/*
 * Tips for Drupal's input formats
 */

.tips {}

/*
 * Buttons used by contrib modules like Media
 */

a.button {
  @include appearance(button);
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: $medium-dark;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody {}

tbody tr {
  border-top: 1px solid $border;
}

tr {
  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2) {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium-light;
  }
}

.lt-ie8 tr {
  &.even, &.odd {
    th, td {}
  }
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */

#forum td {
  &.created, &.posts, &.topics, &.last-reply, &.replies, &.pager {
    white-space: normal;
  }
}

/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
    // Left and right margin are set by the global gutter width
    margin-bottom: 10px;
    margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {}

  &.warning {}
}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}

/*
 * Unpublished nodes
 */

.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {
  p.unpublished {
    @include unpublished;
  }
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}

.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */

#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */

.dev-query {
  background: $light;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */

#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

#block-menu-menu-menu-lateral {
  .block-content {
    background-color: transparent;
    box-shadow: none;
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 20px !important;

    ul {
      margin: 0px !important;
      padding: 0px !important;

      li {
        list-style: outside none none !important;
        background-color: #5C04AE;
        margin: 0px !important;
        padding: 0px !important;

        a {
          width: 80%;
          background-color: #fff;
          display: block;
          text-decoration: none;
          max-width: 100% !important;
          padding: 0px 10% !important;

          // color: #FFF;
          transition: all 0.3s ease-in 0s;
          margin: 1px 0px !important;
          box-shadow: 1px 1px 2px #000;

          // text-shadow: 1px 1px 2px #000;
          font-size: 18px;
          color: #000;
        }

        a:hover {
          padding: 0px 10% 0px 10% !important;
          margin-left: 5% !important;
        }
      }
    }
  }
}

#minformacion {
  background-color: #EEEEEE !important;
}

#mdiariomanada {
  background-color: #DDDDDD !important;
}

#mandroid {
  background-color: #CCCCCC !important;
}

#mtermometro {
  background-color: #BBBBBB !important;
}

#mprensa {
  background-color: #AAAAAA !important;
}

#mgeneral {
  background-color: #C54832 !important;
}

#mcastores {
  background-color: #D37D2C !important;
}

#mlobatos {
  background-color: #E7BA36 !important;
  color: #000 !important;
  text-shadow: 0 0 0 !important;
}

#mexploradores {
  background-color: #39728F !important;
}

#mpioneros {
  background-color: #C3404A !important;
}

#mrutas {
  background-color: #359B7D !important;
}

#mresponsables {
  background-color: #89B1FF !important;
}

.views-row {
  margin-bottom: 50px;
}

.node-entrada-de-blog {
  border-left: 10px solid;
  padding-left: 20px;
  position: relative;
}

.node-entrada-de-blog .node-content::before {
  content: "";
  height: 60px;
  left: -50px;
  position: absolute;
  top: 80px;
  transform: rotate(-15deg);
  width: 60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 3px solid;
}

.ramas-castores .node-content::before {
  background-image: url("images/ramas/castores.png");
  border-color: $cCastores;
}

.ramas-lobatos .node-content::before {
  background-image: url("images/ramas/lobatos.png");
  border-color: $cLobatos;
}

.ramas-exploradores .node-content::before {
  background-image: url("images/ramas/exploradores.png");
  border-color: $cExploradores;
}

.ramas-pioneros .node-content::before {
  background-image: url("images/ramas/pioneros.png");
  border-color: $cPioneros;
}

.ramas-rutas .node-content::before {
  background-image: url("images/ramas/rutas.png");
  border-color: $cRutas;
}

.ramas-general .node-content::before {
  border: none;
}

.ramas-castores {
  border-color: $cCastores;

  .field-name-field-rama a {
    background-color: $cCastores;
  }
}

.ramas-lobatos {
  border-color: $cLobatos;

  .field-name-field-rama a {
    background-color: $cLobatos;
  }
}

.ramas-exploradores {
  border-color: $cExploradores;

  .field-name-field-rama a {
    background-color: $cExploradores;
  }
}

.ramas-pioneros {
  border-color: $cPioneros;

  .field-name-field-rama a {
    background-color: $cPioneros;
  }
}

.ramas-rutas {
  border-color: $cRutas;

  .field-name-field-rama a {
    background-color: $cRutas;
  }
}

.ramas-general {
  border-color: $cGeneral;
}

.field-name-field-rama {
  float: left;

  ul {
    li {
      list-style-type: none;

      a {
        padding: 01px 10px;
        border: 1px solid;
        background-color: #2F043C;
        color: white !important;
      }
    }
  }
}

.field-name-field-etiquetas {
  float: left;

  ul {
    padding-left: 40px;

    li {
      display: inline;
      margin: 0 20px 0px 0px;

      a {
        text-transform: lowercase;
        font-size: 15px;
      }
    }
  }
}

.field-name-body {
  clear: both;
}

#block-system-main .views-row::after {
  background-image: url("/sites/all/themes/xavierat/images/separador.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 30px;
  width: 100%;
}

#nav-wrapper a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  font-size: 20px;
}

.field-name-body img {
  float: right;
  max-width: 100%;
  margin: 0.3em;
}

.logro {
  font-size: 3em;
  line-height: 1.5;
  margin: 0;

  img {
    float: left;
    max-width: 3em;
    margin-right: 1em;
  }

  span {
    strong {
      clear: both;
      text-align: center;
    }
  }
}

.page-galerias {
  .sidebar {
    display: none;
  }

  #content-column {
    .content-inner {
      margin: 0 !important;
      background: none !important;
      box-shadow: none;
    }
  }

  .view-content {
    .views-row {
      &::after {
        display: none !important;
      }

      background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
      width: 48%;
      display: inline-block;
      margin: 1% auto;
      padding: 5px;
      text-align: center;

      img {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.page-los-responsables {
  // .view-los-responsables .view-content .views-row {
  //   display: inline-block;
  //   width: 24%;
  //   text-align: center;
  //   width: 24%;
  // }

  // .view-los-responsables .view-content .views-row {
  //   margin: 1%;
  // }

  // .views-field-field-titulo a {
  //   background-color: $cComodin;
  //   color: white;
  //   display: block;
  //   text-align: center;
  //   text-decoration: none;
  // }

  .view-los-responsables2 {
    .view-content {
      position: relative;

      .views-row {
        float: left;
        text-align: center;
        min-width: 23%;
        margin: 5px;
        position: relative;
        border: 1px solid $cComodin;
        border-radius: 3px;
        width: 190px;
        max-width: 100%;

        &:after {
          background-image: none !important;
          height: 0px !important;
          display: none;
        }

        .views-field-field-titulo {
          background-color: $cComodin;
          color: white;
          top: 0;
          width: 100%;
        }

        .views-field-picture {
          img {
            width: 100%;
          }
        }

        &.carcheky {
          &::after {
            content: " ";
            width: 100% !important;
            position: absolute;
            display: none !important;
            height: 100% !important;
            top: 0;
            left: 0;
            z-index: 9;
            background-image: url(../images/zorro.jpg) !important;
          }
        }

        &.carcheky:hover {
          &::after {
            display: block !important;
          }

          .views-field-contact, .views-field-field-titulo {
            position: relative;
            z-index: 999;
            display: block;

            a {
              background-color: $cComodin;
              width: 100%;
              display: block;
              color: white !important;
            }
          }
        }
      }
    }

    .views-field-name, .views-field-field-titulo {}
  }
}

.loginlink {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 1em !important;
}
