body{font-size:80%}.at-mt .at-menu-toggle h2{margin-bottom:5px}.at-mt .at-menu-toggle h2 a{background:#eee;border:2px solid #ccc;padding:2px 10px}.at-mt .at-menu-toggle ul.menu li a{background:#eee;border-bottom:1px solid #fff}.field-name-body img{width:100%}.page-galerias .view-content .views-row{width:98%;margin:1% auto}
