/**
 * @file
 * Lazyloader default CSS
 *
 * @author: Daniel Honrade http://drupal.org/user/351112
 *
 */

/* Lazyloader Render */
img[data-src] {}
.lazyloader-icon { position: absolute; z-index: 200; }

/* Lazyloader Admin UI */
.lazy-columns {}
.lazy-column { width: 49%;}
.lazy-column-1 { float: left; }
.lazy-column-2 { float: right; }
#edit-lazyloader-icon { width: 100%; }
#edit-lazyloader-icon .form-item { position: relative; float: left; width: 50px; height: 32px; padding-left: 20px; }
#edit-lazyloader-icon .form-item input { position: absolute; left: 0; top: 5px; }
.description { clear: both; }
