.render-array {
    border: 2px solid black;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.render-header {
  font-size: large;
  font-style: italic;
}

.unrendered-label {
  font-style: italic;
  margin-top: 10px;
}

.rendered {
  background-color: lightblue;
}
